*{
    margin: 0;
    padding: 0;
    outline: 0;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
/* main css start from here */

.container{
    width: 1174px;
    background-color: aquamarine;
    margin: auto;
}
.header{
    width: 100%;
    background-color: azure;
}
.header h1{
    color: white;
    background-color: navy;
    font-weight: 700;
    font-family: monospace;
    text-align: center;
}
.content{
    width: 100%;
    background-color: aquamarine;
    text-align: center;
}
.footer{
    width: 100%;
    background-color: darkslateblue;
}
.desc{
    width: 30%;
    background-color: blueviolet;
    display: inline-block;
}
.desc h3,p{
    text-align: center;
}